@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding-top: 50px;
  background: #222;
  color: #00caff;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: Helvetica Neue, sans-serif; }

h1 {
  color: hotpink;
  font-family: Racing Sans One, sans-serif;
  font-weight: 100;
  font-size: 4.2em;
  text-align: center; }
  h1 strong {
    color: #00caff; }

a {
  color: #00caff; }

.flex {
  display: flex;
  align-items: top;
  margin: 20px 0; }
  .flex input {
    border: 1px solid #00caff;
    background-color: #00caff;
    font-size: 1.5em;
    font-weight: 200;
    width: 50vw;
    height: 62px;
    padding: 15px 20px;
    margin: 0;
    outline: 0; }
    .flex input::-webkit-input-placeholder {
      color: #222; }
    .flex input::-moz-placeholder {
      color: #222; }
    .flex input::-ms-input-placeholder {
      color: #222; }
    .flex input:hover, .flex input:focus, .flex input:active {
      background: #00caff; }
  .flex button {
    height: 62px;
    font-size: 1.8em;
    padding: 5px 15px;
    margin: 0 3px; }

ul#list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1.2em;
  width: 50vw; }
  ul#list li {
    font-size: 1.8em;
    vertical-align: bottom; }
    ul#list li.completed {
      color: hotpink;
      text-decoration: line-through; }
      ul#list li.completed button {
        color: #00caff; }
    ul#list li button {
      background: none;
      border: none;
      color: hotpink;
      outline: none;
      font-size: 0.8em;
      font-weight: 50;
      padding-top: 0.3em;
      margin-left: 5px; }

button {
  background: #222;
  border-radius: 0px;
  border: 1px solid #00caff;
  color: #00caff;
  font-weight: 100;
  outline: none;
  padding: 5px;
  margin: 0; }
  button:hover, button:disabled {
    background: #00caff;
    color: #111; }
  button:active {
    outline: 2px solid #00caff; }
  button:focus {
    border: 1px solid #00caff; }
